body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header, footer {
    display: none;
}

.container {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 20px;
    z-index: 1;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
}